@media (max-width: 393px) {
/*iniciar sesion*/
.cajaBoton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.boton1 {
    width:40vw;
    height: 5vh;
    font-size: 2vh;
    border-radius: 30px;
    background-color:var(--color-principal);
    border:none;
    color: var(--color-fondo1);
    align-content: center;
    cursor: pointer;

}
}