@media (max-width: 393px) {
.movil{
  display: flex;
  text-align: center;
  align-items: center;
;
}

.movil div{
  display: flex;
  text-align: center;
  align-items: center;

}

.movil div img{
  display: flex;
  text-align: center;
  align-items: center;
}


.interfaz{
    display:none;
}

}


