body{
    background-color: white;
    width: 99vw;
    height: 99vh;
    border: 10px solid gray;
}
.arribita{
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid black;
}
.A-R-E{
    display: flex;
    flex-direction: row;
}
.R-A{
    display: flex;
    flex-direction: row;
}
.masopciones{
    display: flex;
    flex-direction: row;
}
.añadir{
    display: flex;
    flex-direction: row;
}
.resetear{
    display: flex;
    flex-direction: row;
}
.eliminar{
    display: flex;
    flex-direction: row;
}
.reportar{
    display: flex;
    flex-direction: row;
}
.ayuda{
    display: flex;
    flex-direction: row;
}
.imgañadir{
    width: 2vw;
    height: 3vh;
}