body{
    background-color: black;
}
.todooo{
    background-color: white;
    width: 99vw;
    height: 99vh;
    border: 10px solid gray;
    font-size: 3vh;
    text-align: center;
}
.arribita{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid black;
    justify-content: space-between;
}
.A-R-E{
    display: flex;
    flex-direction: row;
}
.R-A{
    display: flex;
    flex-direction: row;
}
.masopciones{
    display: flex;
    flex-direction: row;
}
.añadir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resetear{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eliminar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reportar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ayuda{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.masopciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imgañadir{
    width: 2vw;
    height: 4vh;
    margin-left: 19vh;
    margin-right: 1vh;
}
.imgresetear{
    width: 2vw;
    height: 4vh;
    margin-left: 10vh;
    margin-right: 1vh;
}
.imgeliminar{
    width: 2vw;
    height: 4vh;
    margin-left: 10vh;
    margin-right: 1vh;
}
.logito{
    width: 3vw;
    height: 5vh;
}
.imgreportar{
    width: 2vw;
    height: 4vh;
    margin-right: 1vh;
}
.imgayuda{
    width: 2w;
    height: 4vh;
    margin-right: 1vh;
    margin-left: 10vh;
}
.imgconf{
    width: 1.3vw;
    height: 3vh;
    margin-right: 2.2vh;
}
.imgnotif{
    width: 1.3vw;
    height: 3vh;
    margin-right: 2.2vh;
}
.fotoPedrito{
    width: 4vw;
    height: 6vh;
    margin-right: 4vh;
}
.textoP{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.PANEL{
    font-size: 4.8vh;
    margin: 0%;
    margin-top: 3vh;
}
.panel{
    color: #3f4141;
    margin: 0%;
    margin-top: 3vh;
    font-size: 2.9vh;
    margin-bottom: 3vh;
}
.GridPanel{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
    justify-content: center;
}
.c1{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c2{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c3{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c4{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c5{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c6{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c7{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c8{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c9{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c10{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c11{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 2/1/3/10;
}
.c12{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c13{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 3/1/4/10;
}
.c14{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c15{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 4/1/5/10;
}
.c16{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c17{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 5/1/6/10;
}
.c18{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c19{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 6/1/7/10;
}
.c20{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.c21{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
    grid-area: 7/1/8/10;
}
.c22{
    margin-right: 2vh;
    background-color: blue;
    margin-bottom: 0.5vh;
}
.boton{
    width: 18vw;
    height: 7vh;
    font-size: 3vh;
    border-radius: 5vh;
    background-color:#ff741c ;
    border:none;
    color: white;
    margin: 5vh;
    margin-bottom: 2vh;
}