body{
    background-color: black;
    text-align: center;
}
.todo{
    background-image: url(../img/fondo\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    width: 99vw;
    height: 99vh;
    padding: 0%;
    margin: 0%;
}
.lakjita{
    margin: 0;
    padding: 0;
}
.kjita{
    position: absolute;
    background-color: white;
    width: 45vw;
    height: 50vh;
    border-radius: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
}
.logito{
    width:5vw ;
    height:9vh ;
    margin-top: 3vh;
    margin-bottom: 0%;
    padding-bottom: 0%;
}
.media{
    margin: 0%;
    margin-bottom: 0.5vh;
    color: #3f4141;
}
.Bienvenida{
    font-size: 130px;
    margin: 0%;
    padding: 0%;
    color: black;
}
.Adm{
    font-size: 60px;
    color: #3f4141;
}
.textBienvenida{
    margin-top: 1vh;
}
.fotoPerfil{
    width: 6vw;
    height: 10vh;
}
.nombreUsuario{
    margin-top: 65px;
}