@font-face {
    font-family: Myrad_pro;
    src: url(../MyradPro/elquevoyausar.ttf);
}
*{
    font-family: Myrad_pro;
}
body{
    background-color: black;
}
.todooo{
    background-color: white;
    width: 99vw;
    height: 99vh;
    border: 5px solid gray;
    font-size: 2vh;
    text-align: center;
    justify-content: center;
}
.arribita{
    width: 100%;
    height: 7vh;
    display: flex;
    flex-direction: row;
    border-bottom: 6px solid black;
    justify-content: space-between;
}
.A-R-E{
    display: flex;
    flex-direction: row;
}
.R-A{
    display: flex;
    flex-direction: row;
}
.masopciones{
    display: flex;
    flex-direction: row;
}
.añadir{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.resetear{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.eliminar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.reportar{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.ayuda{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.masopciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.imgañadir{
    width: 3vh;
    margin-left: 21vh;
    margin-right: 1vh;
}
.imgresetear{
    width: 2.6vh;
    margin-left: 12vh;
    margin-right: 1vh;
}
.imgeliminar{
    width: 2.4vh;
    margin-left: 12vh;
    margin-right: 1vh;
}
.logito{
    width: 5vh;

}
.imgreportar{
    width: 2.8vh;
    margin-right: 1vh;
}
.imgayuda{
    width: 3vh;
    margin-right: 1vh;
    margin-left: 15vh;
}
.imgconf{
    width: 2vh;
    margin-right: 2.2vh;
    margin-left: 2vh;
}
.imgnotif{
    width: 2vh;
    margin-right: 2.2vh;
}
.fotoPedrito{
    width: 4vh;
    margin-right: 2vh;
}
.textoP{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.textAyuda{
    font-size: 4vh;
    margin: 0%;
    margin-top: 3vh;
}
.botones{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    margin-left: 81vh;
}
.opc1{
    width: 40vh;
    height: 5vh;
    font-size: 2vh;
    border-radius: 1vh;
    background-color:#ff741c ;
    border:none;
    color: black;
    margin: 2vh;
    margin-bottom: 2vh;
}
.opc2{
    width: 40vh;
    height: 5vh;
    font-size: 2vh;
    border-radius: 1vh;
    background-color:#ff741c ;
    border:none;
    color: black;
    margin: 2vh;
    margin-bottom: 2vh;
}
.opc3{
    width: 40vh;
    height: 5vh;
    font-size: 2vh;
    border-radius: 1vh;
    background-color:#ff741c ;
    border:none;
    color: black;
    margin: 2vh;
    margin-bottom: 2vh;
}
.desplegar {
  position: relative;
  display: inline-block;
}
.contenido {
  display: none;
  border: 0.1vh solid #737575;
  border-radius: 2vh;
  position: absolute;
  background-color: white;
  min-width: 30vh;
  min-height: auto;
  z-index: 1;
  right: 0vh;
}
.contenido a {
  color: black;
  text-decoration: none;
  display: block;
  margin: 1vh;
}
.contenido a:hover {
  background-color: #ddd;
}
.desplegar:hover .contenido {
  display: block;
}