body{
    margin: 0;
    padding: 0%;
    width: 430px;
    height: 932px;
    text-align: center;
}
.principal{
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}
.encabezadoPerfil{
    display: flex;
    flex-direction: row;
    height: 6rem;
    border-bottom: 1px solid black;
    text-align: center;
    justify-content: space-around;
    align-items: center;
}
.imgconf{
    width: 3.5rem;
}
.imgnotif{
    width: 3.5rem;
}
.fotoPedrito{
    width: 4.5rem;
}
.indicadores{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.elemento{
    background-color: #c6c9c9;
    width: 20rem;
    height: 3.8rem;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
    border-radius: 5px;
    align-content: center;
}
p{
    margin: 0%;
}
.imgporcentaje{
    width: 8rem;
}
.dataindicador{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.fechas{
    display: flex;
    flex-direction: column;
}
.fin{
    margin-top: 2rem;
}
.textDescripcion{
    text-align: start;
    width: 26rem;
    margin-left: 1rem;
}
.C-F-F-A{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.c-f{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.f-a{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 1rem;
}
.opciones{
    display: flex;
    height: 0;
    justify-content: space-around;
    margin-top: 5rem;
    border-top: 1px solid black;
}
.imgOPC{
    height: 3rem;
    margin-top: 1rem;
}