body{
    background-color: black;
}
.todo{
    display: flex;
    width: 99vw;
    height: 99vh;
    padding: 0%;
    margin: 0;
}
.elfondo{
    text-align: center;
    justify-content:center ;
    width: 99vw;
    height: 99vh;
}